*{
  padding: 0px;
  margin: 0px;
  
}

/*  css  for first block */

.Container1 {
  height: auto;
  display: flex;
}

.left {
  opacity: 0.9;
  background: #f3fcf7;
  width: 50%;
}
.leftinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.inner2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  background-image: url("./img/Group.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: #000;
  font-family:Lexend Deca;

  font-style: normal;
 
  line-height: normal;
}

.leftinner p {
  font-family: Poppins;
  font-size: 20px;
  margin:revert;
 /* color: #000;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
 
  display: flex;
  align-items: center;*/


}
.btn3 h4{
  font-family:  Lexend Deca;

}
.right {
  background-image: url(./img/Rectangle\ 2.png);
  display: flex;
  overflow: hidden;
  width: 50%;
  position: static;
}
.rightfirstimg {
  display: flex;
  margin-left: 60px;

  align-items: center;
  justify-content: center;
}
.rightfirstimg img {
  height: 300px;
  max-width: 100%;
  display: flex;

  /* flex-wrap: wrap; */
  /* width: inherit; */
}
.rightsecondimg {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.rightsecondimg img {
  height: 300px;

  display: flex;
  max-width: 100%;

  /* flex-wrap: wrap; */
  /* width: inherit; */
}

.btn1 {
  padding: 14px;
  margin-right: 20px;

  border-radius: 8px;
  background: #ecb942;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.inner3 {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}
.inner3 h4 {
  margin-bottom: 5px;
}
.btn3 {
  margin: 10px;
  border: none;
  opacity: 0.9;
  background: #f3fcf7;
}

/* css for second block */

.Container2 {
  display: flex;
  align-items: center;

  height: auto;
}
.leftside {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.leftside img {
  padding: 30px;
  width: 500%;
  display: flex;
  justify-content: center;
}
.rightside {
  width: 50%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.rightside img{
  height: 100px;
  width: auto;
  margin-left: auto;
}
 .rightside p{
  color: #000;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: normal; */
  margin-bottom: 40px;
  margin-top: 10px;



 }
h4 {
  background-image: url("./img/Group.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: #000;
  font-family:  Lexend Deca;
  font-size: 25px;
  
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}

/*  css  for third block */
.container3 {
  display: flex;
  opacity: 0.9;
  background: #f3fcf7;
  height: auto;
}
.container3 img{
  height: 100px;
}
h5 {
  color: #000;
  font-family: Lexend Deca;
  margin-bottom: 10px;
  font-size: 32px;
  background-image: url("./img/Group.svg");
  background-repeat: repeat-x;
  font-weight: 700;
  line-height: normal;
}

.right3con {
 
  align-items: center;

  flex-direction: column;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.right3con p{
  color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.left3con {
  padding: 30px;
  align-items: center;
  margin-left: 40px;
  flex-direction: column;
  display: flex;
  width: 40%;

 justify-content: center;
}
.left3con p{
  color: rgba(24, 24, 24, 0.80);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn6 {
  border-radius: 20px;
background: #F5F5F5;
border: none;
width: 250px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 /* background: #F5F5F5;
 border: none;
  height: auto;
 */
  top: 1581px;
  left: 1065px;
}
.btn2 {
  border-radius: 20px;
  background: #F5F5F5;
  border: none;
  width: 250px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 1581px;
  left: 1065px;
}
.btn6 h4 {
  display: flex;

  align-items: center;
  margin: 0 50px;
  color: #000;
font-family: Lexend Deca;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.btn2 h4 {
  display: flex;
  align-items: center;
  margin: 0 80px;
  color: #000;
font-family: Lexend Deca;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/*  css  for fourth block */
.container4 {
 
  height: auto;
  background-color: white;
  display: flex;
  margin: 40px;
}
.container4-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
 
  

}

.container4-left li
{color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}
.leftimage {
  display: flex;
  flex-direction: row;
 
}
.leftimage img {
  padding: 2px;
 width:  40%;
  
}
.leaf{
  margin-right: 90%;
}
.container4-right {
  width: 50%;
  position: static;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
 
}
.spoon{
  height: 200px;
  
}
.upper {
  display: flex;
  margin-top: 20%;
}
.upper img {
  padding: 3px;
  width: 40%;
  height: auto;
  box-sizing: border-box;
}

.lower img {
  width: 40%;
  height: auto;
  box-sizing: border-box;
}

/*  css  for last block */
.back {
  background-image: url("./img/Rectangle\ 19.png");

  width: auto;

  position: relative;
  text-align: center;

  background-size: cover;
  background-position: center;
  height: auto;

  display: flex;
  opacity: 0.9;
  flex-direction: inherit;

  background-repeat: no-repeat;
}

h3 {
  margin-left: 200px;
  margin-top: 50px;
  color: white;



font-family: Lexend Deca;

}

.leftback img {
  height: 150px;

  display: flex;
  margin-top: 250px;
}
.centerback {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn10 {
  
  width: 15%;
  height: 50px;
  margin-top: 5px;
  border-radius: 8px;
  background: #ecb942;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*  css for making Responsive at(480)*/

@media only screen and (max-width: 480px) {
  .Container1 {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
  .right {
    display: none;
  }

  .Container2 {
    flex-direction: column;
  }

  .container3 {
    flex-direction: column;
  }
  .container3 img {
    display: none;
  }

 .right3con{
  padding: 30px;
  margin-left: 40px;
  
 }
  .left3con {
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .container4 {
    flex-direction: column;
  }
  .container4-right {
    width: 100%;
  }
  .upper {
    margin-top: 10%;
  }
  .leftimage img{
    width: 40%;
  }
  .container4-left {
    width: 100%;
    margin-right: 40px;
  }

  .centerback {
    background-size: auto;
    align-items: flex-start;
    width: auto;
    height: auto;
    justify-content: left;
    font-size: small;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
  }
  .leftback img {
    display: none;
  }
  .centerback h3 {
    align-items: self-start;
  }
}
